RewriteEngine On

# Rediriger toutes les requêtes vers index.php si le fichier ou le dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]